 body{
 	    background-color: #C0C0C0;
}
.nav{
	background: #000000;
	z-index: 2;
	height: 20px;
	width: 100%;
	margin: auto;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 20px 10px 20px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	opacity: 0.8;
	top: 0;
	position: fixed;
	border-radius: 5px;
}
.nav a{
	color: #ffffff;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
}
.nav a:hover{
	color: #0000FF;
}
.nav a:active{
	color: #00FF00;
}

img{
		height: 90px;
		width: 90px;
		margin: 30px 0px 0px 2px;
}
#name{
		text-align: center;
		color: #C0C0C0;
		font-family: impact;
		font-size: 25px; 
}